<div class="form-position">
  <%= form_with(model: [@sale,shopping_cart], local: true, class: "was-validated") do |form| %>
    <%= render partial: 'layouts/form_errors',locals: {object: shopping_cart} %>

    <div class="input-container">
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :product_id, class: "form-label-special"%>
            <%= form.collection_select(:product_id, Product.all, :id, :name, {:include_blank => t(".product_ph")}, {:class => 'custom-select'})  %>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :product_q, class: "form-label-special"%>
            <%= form.number_field :product_q, class: "form-control" %>
          </div>
        </div>
    </div>

<br>
<div class="container d-flex justify-content-center">
  <div class="btn-group">
        <%= form.submit value: t(".submit_product"), tabindex: 0 %>
<% end %>