<p>
  <strong>Product:</strong>
  <%= @sale.products.find(@shopping_cart.product_id).name %>
</p>

<p>
  <strong>Unit Price:</strong>
  <%= number_to_currency(@sale.products.find(@shopping_cart.product_id).price) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= t @shopping_cart.product_q %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= number_to_currency(@shopping_cart.subtotal) %>
</p>

<div class="btn-group">
<%= link_to edit_sale_shopping_cart_path(@sale,@shopping_cart) do%>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to sale_shopping_carts_path(@sale) do%>
  <i class="fas fa-undo"></i> <%= t('back') %>
<%end%>
</div>
