<div class="form-position">
<%= form_with(model: type, local: true, class: "was-validated") do |form| %>
  <%= render partial: 'layouts/form_errors',locals: {object: type} %>

  <div class="input-container">
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :name, class: "form-label"%>
            <%= form.text_field :name, class: "form-control", placeholder: :name, required: true %>
          </div>
        </div>
  </div>  

<br>

<div class="container d-flex justify-content-center">
  <div class="btn-group">
    <%= form.submit name: t('.submit'), tabindex: 0 %>
  <% end %>