<%= form_with(model: type, local: true) do |form| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
        <% type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Name</span>
  </div>
  <%= form.text_field :name, class: "form-control", placeholder: "Type name..." %>
</div>
<br>
  <div class="btn-group">
    <%= button_tag type: 'submit' do %>
        <i class="far fa-save"> Save</i>
    <% end %>

<% end %>
