<h3>Types</h3>

<div class="table-responsive">
<table>
  <thead>
    <tr>
      <th><%=Type.human_attribute_name(:name)%></th>
      <th><%=Type.human_attribute_name(:created_at)%></th>
      <th><%=Type.human_attribute_name(:updated_at)%></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if @types.empty? %>
      <tr>
        <td colspan="8"> No types yet :) </td>
      </tr>
    <% else %>
    <% @types.each do |type| %>
      <tr>
        <td class="tText"><%= type.name %></td>
        <td class="tText"><%= l type.created_at %></td>
        <td class="tText"><%= l type.updated_at %></td>
		    <td class="buttonsPrim"><%= link_to type_subtypes_path(type), class: "tButton"  do%>
        <%=Subtype.model_name.human.pluralize%> <span class="badge badge-pill badge-light"> <%=type.subtypes.count%></span>
        <%end%>  
        </td>
        <td class="buttonsPrim"><%= link_to type_path(type), class: "tButton"  do%>
           <i class="fas fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="buttonsPrim"><%= link_to edit_type_path(type), class: "tButton"  do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td class="buttonsDel"><%= link_to type, method: :delete, data: { confirm: 'Are you sure?' }, class: "tButton" do%>
             <i class="far fa-trash-alt"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Type', new_type_path %>
