<h3>Types</h3>

<div class="table-responsive-fixed">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Deleted</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if @types.empty? %>
      <tr>
        <td colspan="8"> No types yet :) </td>
      </tr>
    <% else %>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.name %></td>
        <td><%= l type.created_at %></td>
        <td><%= l type.updated_at %></td>
        <td><%= t type.deleted %></td>
		    <td class="buttons"><%= link_to "Subtypes (#{type.subtypes.count})", type_subtypes_path(type)%></td>
        <td class="buttons"><%= link_to type_path(type) do%>
           <i class="far fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to edit_type_path(type) do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to type, method: :delete, data: { confirm: 'Are you sure?' }, class: "deleteBtn" do%>
             <i class="far fa-trash-alt"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Type', new_type_path %>
