<%= form_with(model: cost_class, local: true) do |form| %>
  <% if cost_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cost_class.errors.count, "error") %> prohibited this cost_class from being saved:</h2>

      <ul>
        <% cost_class.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :deleted %>
    <%= form.check_box :deleted %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.text_field :parent_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
