<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<% if action_name == ('edit_paid' || 'update_paid')%>
    <%= render 'form_step_2', cost: @cost %>
<%else%>
    <%= render 'form', cost: @cost %>
<%end%>

<%= link_to @cost do%>
<i class="fas fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to costs_path do %>
<i class="fas fa-undo"></i> <%= t('back') %>
<% end %>
</div>
</div>
</div>
