      <div class="form-position">
        <%= form_with(model: client, local: true, url: url_method, class: "needs-validation") do |form| %>
          <%= render partial: 'layouts/form_errors',locals: {object: client} %>
          
      <div class="input-container">
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :first_name, class: "form-label"%>
            <%= form.text_field :first_name, class: "form-control", tabindex: autotab, placeholder: Client.human_attribute_name(:first_name), required: true %>
          </div>
          <div class="input-position form-group">
            <%= form.label :middle_name, class: "form-label"%>
            <%= form.text_field :middle_name, class: "form-control", tabindex: autotab, placeholder: Client.human_attribute_name(:middle_name) %>
          </div>
          <div class="input-position form-group">
            <%= form.label :last_name, class: "form-label"%>
            <%= form.text_field :last_name, class: "form-control", tabindex: autotab, placeholder: Client.human_attribute_name(:last_name), required: true %>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :email, class: "form-label"%>
            <%= form.text_field :email, class: "form-control", tabindex: autotab, placeholder: Client.human_attribute_name(:email), required: true %>
          </div>
          <div class="input-position-double form-group">
            <div class="row">
              <div class="col-4">
                <%= form.label :phone_countrycode, class: "form-label"%>
                <%= form.text_field :phone_countrycode, class: "form-control", tabindex: autotab, placeholder: Client.human_attribute_name(:phone_countrycode), required: true %>
              </div>
              <div class="col-8">
                <%= form.label :phone_number, class: "form-label"%>
                <%= form.text_field :phone_number, class: "form-control", tabindex: autotab, placeholder: Client.human_attribute_name(:phone_number), required: true %>
              </div>
            </div>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group input-special-width" data-target-input="nearest">
            <%= form.label :birthdate, class: "form-label-special d-flex block text-secondary"%>
            <div class="row">
              <%= form.date_select :birthdate, {start_year: Date.today.year - 150, end_year: Date.today.year, tabindex: autotab},{class: "custom-select col"}%>
            </div>
          </div>
          <div class="input-position form-group input-special-width">
            <%= form.label :sex, class: "form-label-special d-flex block text-secondary"%>
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
              <label class="btn btn-outline-success active">
                <%= form.radio_button :sex, "F", :checked => true %> Mujer
              </label>
              <label class="btn btn-outline-success">
                <%= form.radio_button :sex, "M"%> Hombre
              </label>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="container d-flex justify-content-center">
        <div class="btn-group">
          <%= form.submit name: t('.submit'), tabindex: 0 %>
        <% end %>