
<%= form_with(model: client, local: true, class: "was-validated") do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="container input-container">
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="far fa-envelope" aria-hidden="true"></i>
    </span>
  </div>
  <%= form.text_field :email, class: "form-control", placeholder: :email, required: true %>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Name</span>
  </div>
  <%= form.text_field :first_name, class: "form-control", placeholder: :first_name, required: true %>
  <%= form.text_field :middle_name, class: "form-control", placeholder: :middle_name %>
  <%= form.text_field :last_name, class: "form-control", placeholder: :last_name, required: true %>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="far fa-phone" aria-hidden="true"></i>
    </span>
  </div>
  <%= form.text_field :phone_countrycode, class: "form-control", placeholder: :phone_countrycode, required: true %>
  <%= form.text_field :phone_number, class: "form-control w-75", placeholder: :phone_number, required: true %>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Age</span>
  </div>
  <%= form.text_field :age, class: "form-control", placeholder: 'Enter age...', required: true %>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="fas fa-venus-mars"></i>
    </span>
  </div>
  <%= form.text_field :sex, class: "form-control", placeholder: 'Enter sex...', required: true %>
</div>
</div>

<br>

<div class="btn-group">
  <%= form.submit %>

<% end %>
