  <% if @clients.nil? || @clients.empty? %>
      <tr>
        <td colspan="14"> No clients yet :) </td>
      </tr>
  <% else %>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.formatted_name(:reverse) %></td>
        <td><%= client.phone_countrycode %></td>
        <td><%= client.phone_number %></td>
        <td><%= client.email %></td>
        <td><%= l client.created_at %></td>
        <td><%= l client.updated_at %></td>
        <td class="buttons"><%= link_to client_adresses_path(client) do%>
         <i class="fa fa-home" aria-hidden="true"> (<%=client.adresses.count%>)</i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to client_path(client) do%>
          <i class="far fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to edit_client_path(client) do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to client, method: :delete, data: { confirm: t('.del_confirm', user: client.formatted_name(:full)) } , class: "deleteBtn" do%>
              <i class="far fa-trash-alt"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>