<table id="clientsTable">
  <thead>
    <tr>
      <th><%=Client.human_attribute_name("first_name")%></th>
      <th><%=Client.human_attribute_name("middle_name")%></th>
      <th><%=Client.human_attribute_name("last_name")%></th>
      <th colspan="2"><%=Client.human_attribute_name("phone_number")%></th>
      <th><%=Client.human_attribute_name("email")%></th>
      <th><%=Client.human_attribute_name("age")%></th>
      <th><%=Client.human_attribute_name("sex")%></th>
      <th><%=Client.human_attribute_name("created_at")%></th>
      <th><%=Client.human_attribute_name("updated_at")%></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody id="clientsTableBody">
    <% if @search_results_clients.empty? %>
      <tr>
        <td colspan="14"> No clients yet :) </td>
      </tr>
    <% else %>
    <% @search_results_clients.each do |client| %>
      <tr>
      	<td><%= client.first_name %></td>
      	<td><%= client.middle_name %></td>
      	<td><%= client.last_name %></td>
      	<td><%= client.phone_countrycode %></td>
      	<td><%= client.phone_number %></td>
      	<td><%= client.email %></td>
      	<td><%= client.age %></td>
      	<td><%= client.sex %></td>
      	<td><%= l client.created_at %></td>
      	<td><%= l client.updated_at %></td>
      	<td><%= link_to client_adresses_path(client) do%>
         <i class="fa fa-home" aria-hidden="true"> (<%=client.adresses.count%>)</i>
          <% end %>
        </td>
        <td><%= link_to client_path(client) do%>
          <i class="far fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td><%= link_to edit_client_path(client) do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td><%= link_to client, method: :delete, data: { confirm: t('.del_confirm', user: client.full_name) } , class: "deleteBtn" do%>
              <i class="far fa-trash-alt"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>