<h3><%=t('.title')%></h3>

<%= render 'form', client: @client %>

<%= link_to @client do%>
<i class="far fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to clients_path do %>
<i class="fas fa-undo"> <%= t('back') %></i>
<% end %>
</div>
