<h3><i class="fas fa-user-friends"></i> <%=t('.title', count: Client.count)%></h3>

<div id="clientsTopMenu" class="d-flex flex-row mb-2 w-100">
    <%= link_to new_client_path do%>
      <i class="fas fa-plus"></i> <%=Client.model_name.human%>

    <% end %>
    <%= render partial: 'client_search_box' %>
</div>

<div id="clientsTableDiv" class="table-responsive">
<table id="clientsTable">
  <%= render partial: 'clients/clients_thead' %>
  <tbody id="clientsTableBody">
    <%= render partial: 'results' %>
  </tbody>
</table>
</div>

<%= link_to new_client_path do%>
  <i class="fas fa-plus"></i> <%=Client.model_name.human%>
<% end %>