<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<% if controller_name == 'sales'%>
	<%= render 'clients/form', client: @client, url_method: create_client_sales_url %>
<% else %>
	<%= render 'form', client: @client, url_method: clients_path %>
<% end %>

<%= link_to clients_path do%>
<i class="fas fa-undo"> <%= t('back') %></i>
<%end%>
</div>
</div>
</div>

