<%= form_with(model: [@sale,delivery], local: true) do |form| %>
  <% if delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>
      <ul>
        <% delivery.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mb-3">
  <div class="field col">
    <%= form.label :adress_id %>
    <%= form.collection_select(:adress_id, @sale.client.adresses, :id, :full_adress, {:include_blank => 'Select adress..', required: true}, {:class => 'custom-select'}) %>
  </div>
    <div class="col">
    
    <%= link_to "New adress", new_adress_sale_path(@sale) %>
  </div>
</div>

  <div class="row mb-3">
    <div class="field col">
    <%= form.label :sched_date %>
    <%= form.date_select :sched_date, required: true%>
  </div>

  <div class="field col">
    <%= form.label :sched_timeblock %>
    <%= form.collection_select(:sched_timeblock, Timeblock.order(:name), :id, :name, {:include_blank => 'Time Block..', required: true}, {:class => 'custom-select'}) %>
  </div>

  </div>
  
<div class="btn-group">

    <%= form.submit %>

<% end %>
