<div class="form-position">
<%= form_with(model: [@sale,delivery], class: "was-validated", local: true) do |form| %>
  <%= render partial: 'layouts/form_errors',locals: {object: delivery} %>

    <div class="input-container">
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :adress_id %>
            <div class="input-group">
              <%= form.collection_select(:adress_id, @sale.client.adresses, :id, :full_adress, {:include_blank => t(".adress_ph"), required: true}, {:class => 'custom-select'}) %>
              <div class="input-group-append">
                <%= link_to new_adress_sale_path(@sale) do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group input-special-width">
            <%= form.label :sched_date, class: "form-label-special d-flex block text-secondary"%>
            <div class="input-group date" id="datetimepickerscheddate" data-target-input="nearest">
              <%= form.text_field :sched_date, class: "form-control datetimepicker-input",data:{target: "#datetimepickerscheddate"}, tabindex: autotab, required: true %>
              <div class="input-group-append" data-target="#datetimepickerscheddate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="far fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :sched_timeblock, class: "form-label" %>
            <%= form.collection_select(:sched_timeblock, Timeblock.order(:name), :id, :name, {include_blank: t(".timeblock_ph"), required: true}, {class: 'custom-select'}) %>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :price, class: "form-label"%>
            <%= form.number_field :price, class: "form-control", placeholder: t(".price"), pattern:"[0-9]*", inputmode: "decimal"%>
          </div>
        </div>
    </div>
  
    <br>

    <div class="container d-flex justify-content-center">
      <div class="btn-group">
          <%= form.submit name: t('.submit'), tabindex: 0 %>
    <% end %>
