<div class="form-position">
  <%= form_with(model: [@sale,delivery], local: true, url: update_step_2_sale_delivery_path(
  @sale,delivery), class: "was-validated") do |form| %>
    <%= render partial: 'layouts/form_errors',locals: {object: delivery} %>

      <div class="input-container">
        <div class="row input-group">
          <div class="input-position form-group input-special-width">
            <%= form.label :real_date, class: "form-label-special d-flex block text-secondary"%>
            <div class="input-group date" id="datetimepickerdelivrd" data-target-input="nearest">
              <%= form.text_field :real_date, class: "form-control datetimepicker-input",data:{target: "#datetimepickerdelivrd"}, tabindex: autotab, required: true %>
              <div class="input-group-append" data-target="#datetimepickerdelivrd" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="far fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :real_timeblock, class: "form-label-special d-flex block text-secondary"%>
            <%= form.collection_select(:real_timeblock, Timeblock.order(:name), :id, :name, {:include_blank => t(".timeblock_ph"),required: true}, {class: 'custom-select'})  %>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group custom-control custom-checkbox">
            <%= form.check_box :successful, data:{toggle:"toggle",on:"<i class='fas fa-check'></i> #{t(".d_succeeded")}", off:"<i class='fas fa-times'></i> #{t(".d_failed")}", onstyle:"success",offstyle:"danger"}%>
          </div>
        </div>

        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :driver_comment, class: "form-label"%>
            <%= form.text_area :driver_comment , class: "form-control", placeholder: t(".driver_comments")%>
          </div>
        </div>
      </div>

         <br>


         <div class="container d-flex justify-content-center">
          <div class="btn-group">
            <%= form.submit name: t('.submit'), tabindex: 0 %>
        <% end %>

