<div class="title container d-flex justify-content-center">

<% if action_name == 'edit_step_2'%>
		<h3><%=t('.step_2_title')%></h3>
	</div>
	<%= render 'form_step_2', delivery: @delivery %>
<% elsif !(@delivery.delivered?)%>
		<h3><%=t('.step_1_title')%></h3>
	</div>
	<%= render 'form_step_1', delivery: @delivery %>
<% else %>
		<h3><%=t('.title')%></h3>
	</div>
	<%= render 'form', delivery: @delivery %>
<% end %>

<%= link_to [@sale,@delivery] do %>
<i class="fas fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to sale_deliveries_path do%>
<i class="fas fa-undo"></i> <%= t('back') %>
<% end %>
</div>
</div>
</div>
