<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<% if action_name == 'edit_step_2'%>
	<%= render 'form_step_2', delivery: @delivery %>
<% elsif !(@delivery.delivered?)%>
	<%= render 'form_step_1', delivery: @delivery %>
<% else %>
	<%= render 'form', delivery: @delivery %>
<% end %>

<%= link_to [@sale,@delivery] do %>
<i class="fas fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to sale_deliveries_path do%>
<i class="fas fa-undo"></i> <%= t('back') %>
<% end %>
</div>
</div>
</div>
