<h1>Deliveries</h1>

<div class="table-responsive">
<table>
  <thead>
    <tr>
      <th>Directions</th>
      <th>Executed</th>
      <th>Sched date</th>
      <th>Adress</th>
      <th>Real date</th>
      <th>Successful</th>
      <th>Driver Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sale.deliveries.each do |delivery| %>
      <tr>
        <% if delivery.delivered? %>
          <td colspan="2" class="text-center">
            <i class="far fa-check-circle" style="color:Green"></i>
          </td>
        <%else%>
          <td class="buttons">
            <%= link_to delivery.get_adress.gmap_dir , target: "_blank",class: "btn-warning" do%>
              <i class="fas fa-directions"></i>
            <%end%>
          </td>
        <td class="buttons"><%= link_to edit_step_2_sale_delivery_path(@sale,delivery), class: "btn-success" do%>
            <i class="far fa-check-circle"></i></i>
          <% end %>
        </td>
        <%end%>
        
        <td><%= delivery.sched_date %> | <%= delivery.get_schedtb_name %></td>
        <td><%= delivery.get_adress.full_adress %></td>
        <td><%= delivery.real_date %> <%= delivery.real_timeblock.nil? ? delivery.real_timeblock : " | " + delivery.get_realtb_name %></td>
        <td class='text-center'>
          <% if delivery.successful.nil? %>
            <i class="fas fa-exclamation-triangle" style="color:Orange"></i>
          <% elsif delivery.successful %>
            <i class="far fa-check-circle" style="color:Green"></i>
          <%else%>
          <i class="far fa-times-circle" style="color:Red"></i>
          <%end%>
        </td>
        <td><%= delivery.driver_comment %></td>
        <td class="buttons"><%= link_to [@sale,delivery] do%>
          <i class="far fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to edit_sale_delivery_path(@sale,delivery) do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to [@sale,delivery], method: :delete, data: { confirm: 'Are you sure?' }, class: "deleteBtn" do%>
          <i class="far fa-trash-alt"></i>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div class="btn-group">
<%= link_to 'New Delivery', new_sale_delivery_path %>
<%= link_to sales_path do%>
<i class="fas fa-undo"> Sales</i>
<% end %>
</div>
