<h2>Deliveries <span class="badge badge-pill badge-secondary"><%= @deliveries.count%></span> <span class="badge badge-pill badge-secondary">P:<%= Delivery.total_q(@deliveries)%></span></h2> 

<% if !(@deliveries.nil? || @deliveries.empty?) %>
  <%= link_to Delivery.gmap_roundtrip(@deliveries) , target: "_blank" do%>
      <i class="fas fa-directions"></i> Roundtrip
  <%end%>
<%end%>

<div class="table-responsive mt-1">
<table>
  <thead>
    <tr>
      <th>Directions</th>
      <th><%=Delivery.human_attribute_name(:delivered)%></th>
      <th><%=Delivery.human_attribute_name(:sched_date)%></th>
      <th><%=Adress.human_attribute_name(:full_adress)%></th>
      <th><%=Client.model_name.human%></th>
      <th><%=Product.model_name.human%></th>
      <% if action_name == 'index'%>
      <th><%=Delivery.human_attribute_name(:real_date)%></th>
      <th><%=Delivery.human_attribute_name(:successful)%></th>
      <th><%=Delivery.human_attribute_name(:driver_comment)%></th>
      <th colspan="3"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% if @deliveries.nil? || @deliveries.empty? %>
      <tr>
        <td colspan="14"> No deliveries yet :) </td>
      </tr>
    <% else %>
    <% @deliveries.each do |delivery| %>
      <tr>
        <% if delivery.delivered? %>
          <td colspan="2" class="tIcon">
            <i class="far fa-check-circle" style="color:Green"></i>
          </td>
        <%else%>
          <td class="buttonsWarn">
            <%= link_to delivery.get_adress.gmap_dir , target: "_blank",class: "tButton" do%>
              <i class="fas fa-directions"></i>
            <%end%>
          </td>
        <td class="buttonsWarn"><%= link_to edit_step_2_sale_delivery_path(delivery.sale_id,delivery), class: "tButton" do%>
            <i class="far fa-check-circle"></i></i>
          <% end %>
        </td>
        <%end%>
        
        <td class="tText"><%= delivery.sched_date %> | <%= delivery.get_schedtb_name %></td>
        <td class="tText"><%= delivery.get_adress.full_adress%> - unit <%= delivery.get_adress.adr_unit%> </td>
        <td class="tText"><%= delivery.get_client.formatted_name(:reverse) %></td>
        <td class="tText">
            <% if delivery.get_products.nil? || delivery.get_products.empty? %>
              No products yet :)
            <%else%>
              <% delivery.get_products.each do |item| %>
                <li><%=Product.find(item.product_id).name%>: <%=item.product_q%> </li>
              <%end%>
            <%end%>
        </td>

        <% if action_name == 'index'%>
        <td class="tText"><%= delivery.real_date %> <%= delivery.real_timeblock.nil? ? delivery.real_timeblock : " | " + delivery.get_realtb_name %></td>
        <td class='tIcon'>
          <% if delivery.successful.nil? %>
            <i class="fas fa-exclamation-triangle" style="color:Orange"></i>
          <% elsif delivery.successful %>
            <i class="far fa-check-circle" style="color:Green"></i>
          <%else%>
            <i class="far fa-times-circle" style="color:Red"></i>
          <%end%>
        </td>
        <td class="tText"><%= delivery.driver_comment %></td>
            <td class="buttonsPrim"><%= link_to [@sale,delivery], class: "tButton" do%>
              <i class="fas fa-info-circle" aria-hidden="true"></i>
              <% end %>
            </td>
            <td class="buttonsPrim"><%= link_to edit_sale_delivery_path(@sale,delivery), class: "tButton" do%>
              <i class="fas fa-pencil-alt"></i>
              <% end %>
            </td>
            <td class="buttonsDel"><%= link_to [@sale,delivery], method: :delete, data: { confirm: 'Are you sure?' }, class: "tButton" do%>
              <i class="far fa-trash-alt"></i>
              <%end%>
            </td>
        <% end %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if action_name == 'index'%>
<div class="btn-group">
<%= link_to 'New Delivery', new_sale_delivery_path %>
<%= link_to sales_path do%>
<i class="fas fa-undo"> Sales</i>
<% end %>
</div>
<%end%>
