<h2><%= t('.title')%> </h2> 

<%if !(@deliveries.nil? || @deliveries.empty?) %>
  <% @deliveries.each do |d,dels| %>
    <%= render 'index_data', date:d, deliveries:dels %>
  <% end %>
<% else %>
  <div class='alert alert-success w100 text-center'><i class="far fa-check-circle"></i> <%= t('all_done')%></div>
<% end %>

<% if action_name == 'index'%>
  <div class="btn-group">
    <% if can? :manage, Delivery%>
      <%= link_to new_sale_delivery_path do%>
        <i class="fas fa-plus"></i> <%=Delivery.model_name.human%>
      <%end%>
    <% end %>
    <%= link_to sales_path do%>
      <i class="fas fa-undo"></i> <%= t('.back_sales')%>
    <% end %>
  </div>
<%end%>
