 

<p>
  <strong>Name:</strong>
  <%= @delivery_type.name %>
</p>

<p>
  <strong>Requires Delivery:</strong>
  <%= @delivery_type.requires_delivery %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @delivery_type.deleted %>
</p>

<div class="btn-group">
<%= link_to edit_delivery_type_path(@delivery_type) do %>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to delivery_types_path do%>
  <i class="fas fa-undo"></i>  <%= t('back') %>
<%end%>
</div>
