
<div>
<h2 id="loginTitle">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
<div class="form-row d-flex justify-content-center">
  <div class="col-10 col-md-6">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Registered email" , class: "formStyle" %>
  </div>
</div>
<div class="form-row d-flex justify-content-center">
	<div class="col-10 col-md-6">
	  <div class="actions d-flex justify-content-center">
	    <%= f.submit "Send me reset password instructions" , class: "formButton"%>
	  </div>
	</div>
</div>
<div class="form-row d-flex justify-content-center">
	<div class="col-10 col-md-6">
	  <div class="actions d-flex justify-content-center">
	    <%= link_to "Back", root_path, class: "formButton" %>
	  </div>
	</div>
</div>

<% end %>

<%= render "users/shared/links" %>
</div>