 <div class="form-position">
  <%= form_with(model: [@parent, adress], local: true, url: url_method, class: "was-validated") do |form| %>
    <%= render partial: 'layouts/form_errors',locals: {object: adress} %>


<div class="input-container">
  <div class="row input-group">
    <div class="input-position form-group">
      <%= form.label :street, class: "form-label"%>
      <%= form.text_field :street, class: "form-control", placeholder: Adress.human_attribute_name("street") , required: true %>
    </div>
    <div class="input-position form-group">
      <%= form.label :str_number, class: "form-label"%>
      <%= form.text_field :str_number, class: "form-control", placeholder: Adress.human_attribute_name("str_number"), required: true, pattern:"[0-9]*", inputmode: "numeric" %>
    </div>
  </div>
  <div class="row input-group">
    <div class="input-position form-group">
      <%= form.label :adr_unit, class: "form-label"%>
      <%= form.text_field :adr_unit, class: "form-control", placeholder: Adress.human_attribute_name("adr_unit") %>
    </div>
    <div class="input-position form-group">
      <%= form.label :adr_other, class: "form-label"%>
      <%= form.text_field :adr_other, class: "form-control", placeholder: Adress.human_attribute_name("adr_other") %>
    </div>
  </div>
  <div class="row input-group">
    <div class="input-position form-group">
      <%= form.label :adr_county, class: "form-label"%>
      <%= form.text_field :adr_county, class: "form-control", placeholder: Adress.human_attribute_name("adr_county"), required: true %>
    </div>
    <div class="input-position form-group">
      <%= form.label :adr_zip, class: "form-label"%>
      <%= form.text_field :adr_zip, class: "form-control", placeholder: Adress.human_attribute_name("adr_zip"), pattern:"[0-9]*", inputmode: "numeric" %>
    </div>
  </div>
  <div class="row input-group">
    <div class="input-position form-group">
      <%= form.label :adr_state, class: "form-label"%>
      <%= form.text_field :adr_state, class: "form-control", placeholder: Adress.human_attribute_name("adr_state"), required: true %>
    </div>
    <div class="input-position form-group">
      <%= form.label :adr_country, class: "form-label"%>
      <%= form.text_field :adr_country, class: "form-control", placeholder: Adress.human_attribute_name("adr_country"), required: true %>
    </div>
  </div>
</div>

  <br>

<div class="container d-flex justify-content-center">
  <div class="btn-group">
      <%= form.submit %>
  <% end %>