<h3>Editing Adress for <%=@client.first_name%> <%=@client.last_name%></h3>

<%= render 'form', adress: @adress %>

<%= link_to [@client,@adress] do%>
<i class="far fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to client_adresses_path(@client) do%>
<i class="fas fa-undo"> Back</i>
<% end %>
</div>
