<h3><%=t('.title', count:@parent.adresses.count, client: @parent.formatted_name(:compact))%></h3>

<div class="table-responsive">
<table>
  <thead>
    <tr>
      <th><%=Adress.human_attribute_name("street")%></th>
      <th><%=Adress.human_attribute_name("adr_unit")%></th>
      <th><%=Adress.human_attribute_name("adr_country")%></th>
      <th><%=Adress.human_attribute_name("created_at")%></th>
      <th><%=Adress.human_attribute_name("updated_at")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @adresses.empty? %>
      <tr>
        <td colspan="13"> No adresses yet for <%=@parent.formatted_name(:compact)%> :( </td>
      </tr>
    <% else %>
    <% @adresses.each do |adress| %>
      <tr>
        <td class="tText"><%= adress.full_adress %></td>
        <td class="tText"><%= adress.adr_unit %></td>
        <td class="tText"><%= adress.adr_country %></td>
        <td class="tText"><%= l adress.created_at %></td>
        <td class="tText"><%= l adress.updated_at %></td>
        <td class="buttonsPrim"><%= link_to polymorphic_path([@parent,adress]), class: "tButton" do%>
          <i class="fas fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="buttonsPrim"><%= link_to edit_polymorphic_path([@parent, adress]), class: "tButton" do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td class="buttonsDel"><%= link_to polymorphic_path([@parent,adress]), method: :delete, data: { confirm: t('.del_confirm', adress: adress.full_adress) }, class: "tButton" do%>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div class="btn-group">
<%= link_to new_polymorphic_path([@parent,Adress]) do %>
<i class="fa fa-plus" aria-hidden="true"></i>
<i class="fa fa-home" aria-hidden="true"></i>
<%end%>
<%= link_to controller: @parent.class.to_s.pluralize.underscore, action: :index do%>
<i class="fas fa-undo"></i> <%= t('back_to_model', model: @parent.model_name.human(count: 2)) %>
<%end%>
</div>