<h3><%=t('.title', client: @adress.client.formatted_name(:compact))%></h3>

<% if controller_name == 'sales'%>
	<%= render 'adresses/form', adress: @adress %>
<% else %>
	<%= render 'form', adress: @adress %>
<% end %>

<%= link_to client_adresses_path(@client) do%>
<i class="fas fa-undo"> <%= t('back') %></i>
<%end%>
</div>
</div>
</div>
</div>