<div class="title container d-flex justify-content-center">
<h3><%=t('.title', client: @adress.adressable.formatted_name(:compact))%></h3>
</div>

<% if controller_name == 'sales'%>
	<%= render 'adresses/form', adress: @adress, url_method: create_adress_sale_url  %>
	<%= link_to new_sale_delivery_path(@sale) do%>
		<i class="fas fa-undo"></i> <%= t('back') %>
	<%end%>
<% else %>
	<%= render 'form', adress: @adress, url_method: polymorphic_path([@parent,Adress]) %>
	<%= link_to polymorphic_path([@parent,Adress]) do%>
		<i class="fas fa-undo"></i> <%= t('back') %>
	<%end%>
<% end %>


</div>
</div>
</div>