<p>
  <strong><%= label(:adress, :street) %></strong>
  <%= @adress.street %>
</p>

<p>
  <strong><%= label(:adress, :str_number) %></strong>
  <%= @adress.str_number %>
</p>

<p>
  <strong><%= label(:adress, :adr_unit) %></strong>
  <%= @adress.adr_unit %>
</p>

<p>
  <strong><%= label(:adress, :adr_other) %></strong>
  <%= @adress.adr_other %>
</p>

<p>
  <strong><%= label(:adress, :adr_zip) %></strong>
  <%= @adress.adr_zip %>
</p>

<p>
  <strong><%= label(:adress, :adr_county) %></strong>
  <%= @adress.adr_county %>
</p>

<p>
  <strong><%= label(:adress, :adr_state) %></strong>
  <%= @adress.adr_state %>
</p>

<p>
  <strong><%= label(:adress, :adr_country) %></strong>
  <%= @adress.adr_country %>
</p>

<p>
  <strong><%= label(:adress, :created_at) %></strong>
  <%= l @adress.created_at %>
</p>

<p>
  <strong><%= label(:adress, :updated_at) %></strong>
  <%= l @adress.updated_at %>
</p>

<div class="btn-group">
<%= link_to edit_client_adress_path(@client,@adress) do%>
<i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to client_adresses_path(@client) do%>
  <i class="fas fa-undo"> <%= t('back') %></i>
<%end%>
</div>