<div class="form-position">
<%= form_with(model: timeblock, local: true, class: "was-validated") do |form| %>
  <%= render partial: 'layouts/form_errors',locals: {object: timeblock} %>

  <div class="input-container">
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, class: "form-control", tabindex: autotab, placeholder: :name, required: true %>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :start_time, class: "form-label-special d-flex block text-secondary" %>
            <div class="row">
              <%= form.time_select :start_time,{}, {class: "custom-select col"} %>
            </div>
          </div>
        </div>
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :end_time , class: "form-label-special d-flex block text-secondary"%>
            <div class="row">
              <%= form.time_select :end_time, {}, {class: "custom-select col"} %>
            </div>
          </div>
        </div>
  </div>
  
<br>

<div class="container d-flex justify-content-center">
        <div class="btn-group">
          <%= form.submit name: t('.submit'), tabindex: 0 %>
        <% end %>