<h3><i class="far fa-clock"></i> <%=t('.title')%></h3>

<div class="table-responsive">
<table>
  <thead>
    <tr>
      <th><%=Timeblock.human_attribute_name("name")%></th>
      <th><%=Timeblock.human_attribute_name("start_time")%></th>
      <th><%=Timeblock.human_attribute_name("end_time")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeblocks.each do |timeblock| %>
      <tr>
        <td class="tText"><%= timeblock.name %></td>
        <td class="tText"><%= l timeblock.start_time, format: :only_time  %></td>
        <td class="tText"><%= l timeblock.end_time, format: :only_time %></td>
        <td class="buttonsPrim"><%= link_to timeblock, class: "tButton" do %>
          <i class="fas fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="buttonsPrim"><%= link_to edit_timeblock_path(timeblock), class: "tButton" do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td class="buttonsDel"><%= link_to timeblock, method: :delete, data: { confirm: 'Are you sure?' }, class: "tButton" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Timeblock', new_timeblock_path %>
