<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<%= render 'form', product: @product %>

<%= link_to @product do%>
<i class="far fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to products_path do%>
<i class="fas fa-undo"> <%= t('back') %></i>
<% end %>
</div>
</div>
</div>
