
   <% if @product.product_image.attached? %>
      <%= image_tag(@product.product_image , class: "product-img product-img-lg")%>
    <% else %>
      <%= image_tag("default_product_image.jpg", class: "product-img product-img-lg") %>
    <% end %> 
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.subtype.type.name %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= @product.subtype.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= t @product.deleted %>
</p>

<div class="btn-group">
<%= link_to edit_product_path(@product) do%>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to products_path do%>
  <i class="fas fa-undo"> Back</i>
<%end%>
</div>