<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Subtype:</strong>
  <%= @product.subtype_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @product.deleted %>
</p>

<div class="btn-group">
<%= link_to edit_product_path(@product) do%>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to products_path do%>
  <i class="fas fa-undo"> Back</i>
<%end%>
</div>