 <div class="row d-flex justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xs-offset-3">
        <%= form_with(model: sale, local: true , class: "was-validated") do |form| %>
          <% if sale.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>
              <ul>
                <% sale.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>     

          <div class="container input-container">
              <div class="input-group mb-3 d-flex justify-content-center">
                    <%= form.datetime_select :sale_datetime, class: "custom-select",  placeholder: Client.human_attribute_name(:sale_datetime), required: true %>
              </div>
              <div class="input-group w-100 mb-3">
                <div class="col d-flex justify-content-center">
                  <div class="btn-group">
                    <%= form.collection_select(:client_id, Client.all.order(:last_name), :id, :formatted_name, {:include_blank => 'Client..'}, data: {'live-search': true, style: 'btn-outline-primary'})  %>
                    <%= link_to new_client_sales_path do%>
                    <i class="fas fa-plus"></i>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>

        <div class="container d-flex justify-content-center">
          <div class="btn-group">
                <%= form.submit name: t('.submit'), tabindex: 0 %>
        <% end %>
