<div class="form-position">
        <%= form_with(model: sale, local: true , url: update_step_2_sale_path(sale), class: "was-validated") do |form| %>
          <%= render partial: 'layouts/form_errors',locals: {object: sale} %>  

       <div class="input-container">
        <div class="row input-group">
          <div class="input-position form-group">
            <%= form.label :delivery_type_id, class: "form-label-special d-flex block text-secondary"%>
            <%= form.collection_select(:delivery_type_id, DeliveryType.all, :id, :name, {:include_blank => t('.delivery_ph')}, {:class => 'custom-select'})  %>
          </div>
        </div>
      </div>

        <br>

        <div class="container d-flex justify-content-center">
          <div class="btn-group">
                <%= form.submit name: t('.submit'), tabindex: 0 %>
        <% end %>