<div class="table-responsive">
<table>
  <thead>
    <tr>
      <th><%=Sale.human_attribute_name(:paid)%></th>
      <th><%=Sale.human_attribute_name(:sale_datetime)%></th>
      <th><%=Sale.human_attribute_name(:client_id)%></th>
      <th><%=Sale.human_attribute_name(:total_amount)%></th>
      <th><%=Sale.human_attribute_name(:delivery_type_id)%></th>
      <th><%=Sale.human_attribute_name(:payment_type_id)%></th>
      <th><%=Sale.human_attribute_name(:created_at)%></th>
      <th><%=Sale.human_attribute_name(:updated_at)%></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% if @sales.empty? %>
      <tr>
        <td colspan="13"> No sales yet :) </td>
      </tr>
    <% else %>
    <% @sales.each do |sale| %>
      <tr>
        <td class="buttons text-center">
          <% if sale.paid? %>
            <i class="far fa-check-circle" style="color:Green"></i>
          <% else %>
            <%= link_to edit_step_3_sale_path(sale), class: "btn-warning" do%>
            <i class="fas fa-clipboard-check fa-lg"></i>
          <%end%>
          <% end %>
          
        </td>
        <td><%= (sale.sale_datetime.nil? or sale.sale_datetime.blank?) ? "Undefined" : l(sale.sale_datetime) %></td>
        <td><%= sale.client.formatted_name(:reverse) %></td>
        <td><%= number_to_currency(sale.total_amount) %></td>
        <td><%= sale.delivery_type_id.nil? ? sale.delivery_type_id : DeliveryType.find(sale.delivery_type_id).name %></td>
        <td><%= sale.payment_type_id.nil? ? sale.payment_type_id : PaymentType.find(sale.payment_type_id).name %></td>
        <td><%= l sale.created_at %></td>
        <td><%= l sale.updated_at %></td>
        <td class="buttons"><%= link_to sale_shopping_carts_path(sale) do%>
          <i class="fas fa-cart-plus"> (<%=sale.shopping_carts.count%>)</i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to sale_deliveries_path(sale) do%>
          <i class="fas fa-truck"> (<%=sale.deliveries.count%>)</i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to sale do %>
          <i class="far fa-info-circle" aria-hidden="true"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to edit_sale_path(sale) do%>
          <i class="fas fa-pencil-alt"></i>
          <% end %>
        </td>
        <td class="buttons"><%= link_to sale, method: :delete, data: { confirm: t('.del_confirm') }, class: "deleteBtn" do%>
          <i class="far fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>