<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<% if action_name == ('edit_step_2' || 'update_step_2') %>
	<%= render 'form_step_2', sale: @sale %>
<% elsif action_name == 'edit_step_3' || 'update_step_3' %>
	<%= render 'form_step_3', sale: @sale %>
<% else%>
	<%= render 'form', sale: @sale %>
<% end %>

<%= link_to sales_path do%>
<i class="fas fa-undo"> <%= t('back') %></i>
<% end %>
</div>
</div>
</div>
