<h3><i class="fas fa-chart-line"> <%=t('.title')%></i></h3>

<%= link_to new_sale_path do %>
<i class="fas fa-plus"> <%=Sale.model_name.human%></i>
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-tabs mt-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#data">Data</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mb-3">
  <div class="tab-pane active" id="dashboard">
      <%= render 'index_dashboard' %>
  </div>
  <div class="tab-pane fade" id="data">
      <%= render 'index_data' %>
  </div>
</div>

<%= link_to new_sale_path do %>
<i class="fas fa-plus"> <%=Sale.model_name.human%></i>
<% end %>
