<h3><i class="fas fa-dollar-sign"></i> <%=t('.title')%></h3>

<%= link_to new_sale_path do %>
<i class="fas fa-plus"></i> <%=Sale.model_name.human%>
<% end %>

<!-- Nav tabs -->
<ul class="nav nav-tabs mt-3" role="tablist">
  <li class="nav-item">
    <a class="nav-link navtab active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navtab" id="data-tab" data-toggle="tab" href="#data" role="tab" aria-controls="data" aria-selected="false">Data</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content mb-3">
  <div class="tab-pane active" id="dashboard">
      <%= render 'index_dashboard' %>
  </div>
  <div class="tab-pane fade" id="data">
    <% @sales.each do |ps,s|%>
      <%= render 'index_data', sales:s, paid_sales:ps %>
    <%end%>
  </div>
</div>

<%= link_to new_sale_path do %>
<i class="fas fa-plus"></i> <%=Sale.model_name.human%>
<% end %>
