<p>
  <strong><%= label(:sale, :sale_datetime) %>:</strong>
  <%= l @sale.sale_datetime %>
</p>

<p>
  <strong><%= label(:sale, :client_id) %>:</strong>
  <%= Client.find(@sale.client_id).full_name %>
</p>

<p>
  <strong><%= label(:sale, :total_amount) %>:</strong>
  <%= number_to_currency(@sale.total_amount) %>
</p>

<p>
  <strong><%= label(:sale, :paid) %>:</strong>
  <%= t @sale.paid %>
</p>

<p>
  <strong><%= label(:sale, :payment_type_id) %>:</strong>
  <%= PaymentType.find(@sale.payment_type_id).name %>
</p>

<p>
  <strong><%= label(:sale, :delivery_type_id) %>:</strong>
  <%= DeliveryType.find(@sale.delivery_type_id).name %>
</p>



<div class="btn-group">
  <%= link_to sale_shopping_carts_path(@sale) do%> 
<i class="fa fa-home" aria-hidden="true"> (<%=@sale.shopping_carts.count%>)</i>
<%end%>
<%= link_to edit_sale_path(@sale) do%>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to sales_path do%>
  <i class="fas fa-undo"> <%= t('back') %></i>
<%end%>
</div>