<p>
  <strong>Sale datetime:</strong>
  <%= @sale.sale_datetime %>
</p>

<p>
  <strong>Client:</strong>
  <%= @sale.client_id %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @sale.total_amount %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @sale.paid %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @sale.payment_type_id %>
</p>

<p>
  <strong>Delivery type:</strong>
  <%= @sale.delivery_type_id %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @sale.deleted %>
</p>


<div class="btn-group">
  <%= link_to sale_shopping_carts_path(@sale) do%> 
<i class="fa fa-home" aria-hidden="true"> (<%=sale.shopping_carts.count%>)</i>
<%end%>
<%= link_to edit_sale_path(@sale) do%>
  <i class="fas fa-pencil-alt"></i>
<% end %>
<%= link_to sales_path do%>
  <i class="fas fa-undo"> Back</i>
<%end%>
</div>