<div class="title container d-flex justify-content-center">
<h3><%=t('.title')%></h3>
</div>

<%= render 'form', subtype: @subtype %>

<div class="btn-group">
<%= link_to [@type,@subtype] do%>
<i class="fas fa-info-circle" aria-hidden="true"></i>
<%end%>
<%= link_to type_subtypes_path(@type) do%>
<i class="fas fa-undo"></i> <%= t('back') %>
<% end %>
</div>
</div>
</div>
</div>