<!DOCTYPE html>
<html>
  <head>
    <title>Pbutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if controller_name == "publics" %>
      <%= stylesheet_link_tag 'publics', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=weekly&key='+Rails.application.credentials[Rails.env.to_sym][:gmapsapi][:key]%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= yield(:head_tags) %>
  </head>

  <body>
        <%= render 'layouts/application_devise_alerts' %>
        <%= render 'layouts/application_alert_modal' %>

    <% if user_signed_in? %>
    <div id="minFullBrowserContainer">
      <div id="overflowContainer">
    	  <div id="welcomeBanner">
          <%= image_tag("banners/mainbanner.png") %>
        </div>
        <%= render 'layouts/application_navbar' %>
      	<div id="subBody">
       	 	<%= yield %>
       	</div>
      </div>
    </div>
    <% else %>
    <div id="minFullBrowserContainerLogin">
      <div id="overflowContainerLogin">

        <div id="subBody">
          <%= yield %>
        </div>
      </div>
    </div>
    <% end %>
    <%= render 'layouts/application_footer' %>

  </body>
</html>
